@charset "utf-8";
/* CSS Document */
body
{
    weight: auto;
    height: auto;
}
.font-google
{
    font-family: 'Montserrat', sans-serif;
    color: #761c43;
}
.font-google2
{
    font-family: 'Montserrat', sans-serif;
    color: #f8f0e4;
}
.website
{
    width: 100%;
    height: 100%;
    background-color: #f8f0e4;
}
.header
{
    width: 100%;
    height: 150px;
    background-color: #f8f0e4;
}
.menu
{
     width: 100%;
    height: 50px;
    background-color: #f8f0e4;
}
.menu ul
{
   list-style: none; 
}
.arrivallv2 ul
{
   font-family: 'Montserrat', sans-serif;
    color: #f8f0e4;
}

.menu ul.menu_lv1
{
  border-top: 2px solid #761c43;
  border-bottom: 2px solid #761c43;
  display: flex;
  justify-content: center;
}

.menu ul li
{
   padding: 15px;
    float: left;
    position: relative;
    font-weight: bold;
}
.menu ul li a
{  
   color: #761c43;
   text-decoration: none;
}

.menu ul.menu_lv1 li:hover
{
    background-color: #761c43;
}
.menu ul.menu_lv1 > li:hover > a, 
.menu ul.menu_lv2 > li:hover > a
{  
   color: #f8f0e4;
}
.menu ul.menu_lv2
{
color: #761c43;
position: absolute;
right: 0px;
top: 51px;
visibility: hidden;
    z-index: 100;
}
.menu ul.menu_lv2 li
{
width: 157px;
background-color: #f8f0e4;
font-weight: 400;
text-align: center;
}
.menu ul.menu_lv1 > li:hover ul.menu_lv2
{
    visibility:visible;
}
.bodyimage
{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
  justify-content: center;  
}
.collectionimage
{
float: left;
height: 30%;
weight: 300px;
background-color: #f8f0e4;
}
.headerlv2
{
    width: 1333px;
    height: 50px;
    background-color: #f8f0e4;
    z-index: 1000;
    position: absolute;
    top: 800px;
    left: 110px;
}
.nenhd
{
    width: 100%;
    height: 380px;
    background-color: #761c43;
    display: flex;
    justify-content: center;
}
.arrival
{
    width: 30%;
    height: 500px;
    background-color: #f8f0e4;
    box-sizing: border-box;
    float: left;
    margin: 25px;
}
.modelimage
{
    width: 30%;
    height: 200px;
    background-color: #f8f0e4;
    box-sizing: border-box;
    float: left;
    margin: 12px;
    z-index: 500;
}
.modelimage2
{
    width: 30%;
    height: 200px;
    background-color: #f8f0e4;
    box-sizing: border-box;
    float: left;
    margin: 12px;
    z-index: 500;
}
.modelimage:hover
{
    animation: phongto 5s forwards;
}
@-webkit-keyframes phongto
{
    from{transform: scale(1);}
   to{transform: scale(1.5);}
}

h1
{
    font-style: bold;
}
h2
{
    font-style: bold;
}
h3
{
    font-weight: 400;
}
.modelimage2:hover
{
    animation: phongto 5s forwards;
}
@-webkit-keyframes phongto
{
    from{transform: scale(1);}
   to{transform: scale(1.5);}
}

h1
{
    font-style: bold;
}
h2
{
    font-style: bold;
}
h3
{
    font-weight: 400;
}
button
{
    color: #f8f0e4;
    font-weight: 400;
    width: 40%;
    height: 40px;
    background-color: #761c43;
    border-radius: 5px solid #3C001E;
}
input[type="text"]
{
     width: 130px;
    background-color: #f8f0e4;
    color: #761c43;
    box-sizing: border-box;
    border: 2px solid #761c43;
     border-radius: 4px;
    outline:none;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition:0.6s ease-in-out;
}
input[type="text"]:focus
{
    width:500px; 
    background-color: #f8f0e4;
}
 .nendodam
{
    width: 100%;
    height: 300px;
    background-color: #761c43;
    display: flex;
    justify-content: center;
}
.arrivallv2 
{
    width: 100%;
    height: 300px;
    background-color: #761c43 ;
    float: left;
    padding-left: 90px;
}

#slideshow 
{
   overflow: hidden;
     height: 500px;
    width: 1333px;
   margin: 0 auto;
}
.slide-wrapper
{
     width: 5332px;
   -webkit-animation: slide 5s ease infinite;
}
.slide
{
   float: left;
   height: 500px;
   width: 1333px;
}
@-webkit-keyframes slide 
{
   20% {margin-left: 0px;}
   30% {margin-left: -1333px;}
   50% {margin-left: -1333px;}
   60% {margin-left: -2666px;}
   80% {margin-left: -2666px;}
 }
 .icon
 {
 width: 30px;
 height: 30px;
 background-color: #761c43;
 float: left;
 margin-right: 20px;
 }